WG_CLIENT_PRIVATE_KEY=<from wg-server container>
WG_CLIENT_ADDRESS=10.13.13.2/32
WG_SERVER_PUBLIC_KEY=<from wg-server container>
WG_PRESHARED_KEY=<from wg-server container>
WG_SERVER_ENDPOINT=213.218.200.158:51820
WG_ALLOWED_IPS=10.13.13.1/32
DEPLOY_HOST=10.13.13.1
DEPLOY_SSH_USER=root
DEPLOY_SSH_KEY=<ed25519 private key>
